<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/SCVFood_Icon.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Adriel Santos</p>
      </div>
    </div>    
    <ul class="sidebar-menu">
      <li class="header">Menus</li>
      <li><a href="#"><i class="fa fa-calendar"></i> <span>Home</span></a></li>      
      <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Cadastros</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href=""><i class="fa fa-circle-o"></i> Empresa</a></li>
          <li><a href="/clientes"><i class="fa fa-circle-o"></i> Clientes</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Perfil do Cliente</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Região</a></li>
          <li><a href="/produtos"><i class="fa fa-circle-o"></i> Produtos</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Grupos</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Classes</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Observações</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Fornecedores</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Funcionários</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Perfil</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Permissões</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Dispositivos</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Meio de Pagamento</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Setor de Produção</a></li>
        </ul>
      </li>

      <!--<li>
        <a href="pages/widgets.html">
            <i class="fa fa-th"></i> <span>Widgets</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
      </li>-->
      <li class="treeview">
        <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Estoque</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href=""><i class="fa fa-circle-o"></i> Pedido de Compra</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Entrada de Estoque</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Outras Saídas de Estoque</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Inventário</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Ajuste de Estoque</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Sugestão de Compra</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Financeiro</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu"> 
          <li><a href=""><i class="fa fa-circle-o"></i> Contas a Pagar</a></li>
          <li><a routerLink="/tipos-documentos" routerLinkActive="ativo"><i class="fa fa-circle-o"></i> Tipos de Documentos</a></li>
          <li><a href="/centro-custos"><i class="fa fa-circle-o"></i> Centro de Custos</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Plano de Contas</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Contas</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
            <i class="fa fa-edit"></i> <span>Relatórios</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
            <li class="treeview">
                <a href="#"><i class="fa fa-hand-o-right"></i> Vendas
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li><a href=""><i class="fa fa-circle-o"></i>Venda por Atendente</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Venda por Produto</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Produtos por Grupo</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Taxa de 10%</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Taxa Retirada</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Produtos Mais Vendidos</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Consumo Mesa</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Mesa / Ficha</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Mesa Movimento</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Venda por Hora</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Descontos</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Itens Cancelados</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Vendas Canceladas</a></li>
                </ul>
              </li>
              <li class="treeview">
                  <a href="#"><i class="fa fa-hand-o-right"></i> Caixa
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu" style="display: none;">
                      <li><a href=""><i class="fa fa-circle-o"></i>Descontos</a></li>
                      <li><a href=""><i class="fa fa-circle-o"></i>Recebimentos</a></li>
                      <li><a href=""><i class="fa fa-circle-o"></i>Sangrias</a></li>
                      <li><a href=""><i class="fa fa-circle-o"></i>Turnos</a></li>
                  </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-hand-o-right"></i> Estoque
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li><a href=""><i class="fa fa-circle-o"></i>Posição de Estoque</a></li>
                        <li><a href=""><i class="fa fa-circle-o"></i>Movimentação de Estoque</a></li>
                        <li><a href=""><i class="fa fa-circle-o"></i>Entradas Estoque</a></li>
                        <li><a href=""><i class="fa fa-circle-o"></i>Saídas Estoque</a></li>
                        <li><a href=""><i class="fa fa-circle-o"></i>Inventário</a></li>
                    </ul>
                  </li>
                  <li class="treeview">
                      <a href="#"><i class="fa fa-hand-o-right"></i> Delivery
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu" style="display: none;">
                          <li><a href="#"><i class="fa fa-circle-o"></i>Região</a></li>
                          <li><a href="#"><i class="fa fa-circle-o"></i>Entregador</a></li>
                      </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-hand-o-right"></i> Financeiro
                          <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                          </span>
                        </a>
                        <ul class="treeview-menu" style="display: none;">
                            <li><a href=""><i class="fa fa-circle-o"></i>Contas a Pagar</a></li>
                            <li><a href=""><i class="fa fa-circle-o"></i>Contas Pagas</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-hand-o-right"></i> Listagens
                          <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                          </span>
                        </a>
                        <ul class="treeview-menu" style="display: none;">
                            <li><a href=""><i class="fa fa-circle-o"></i>Clientes</a></li>
                            <li><a href=""><i class="fa fa-circle-o"></i>Produtos</a></li>
                            <li><a href=""><i class="fa fa-circle-o"></i>Funcionários</a></li>
                        </ul>
                    </li>
        </ul>
      </li>
      <li><a href=""><i class="fa fa-book"></i> <span>Sobre</span></a></li>
      <li class="header">Licença</li>
      <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Vencida</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Autorizada</span></a></li>
    </ul>
  </section>
</aside>
