<app-admin-header></app-admin-header>

<app-admin-left-side></app-admin-left-side>
  <router-outlet></router-outlet>

  <div class="content-wrapper" style="min-height: 901px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Centro de Custos
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Centro de Custos</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="callout callout-info">
        <h4>Acesse nosso <a href="http://scvsistemas.com.br/" target="_blank">Wiki</a>!</h4>
      </div>

      <div class="row" >
        <div class="col-xs-12">
          <div class="box box-default">
            <div class="box-body">
              <a href="/novo-centro-custos">
              <button type="button" class="btn btn-info" style="width:18%">
                Inserir
              </button>
              </a>
            </div>
          </div>
        </div>
      </div>        
      
      <!--GRID CERTA-->
         <div class="box">
            <div class="box-header">
              <!--<h3 class="box-title">Centro de Custos</h3>-->
              <div class="box-tools">
                <ul class="pagination pagination-sm no-margin pull-right">
                  <li><a href="#">«</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">»</a></li>
                </ul>
              </div>
            </div>
          <br>
            <div class="box-body no-padding">
              <table class="table">
                <tbody>
                  <tr>
                    <th style="width: 10px">Código
                        <div id="example1_filter" class="dataTables_filter">
                            <label>
                              <input type="search" class="form-control input-sm" placeholder="pesquisar..." aria-controls="example1">
                            </label>
                          </div>
                    </th>
                    <th>Descrição
                        <div id="example1_filter" class="dataTables_filter">
                            <label style="display: block">
                                <div class="input-group">
                                    <input type="search" class="form-control input-sm" placeholder="pesquisar...">
                                    <span class="input-group-btn">
                                      <button class="btn btn-info" type="button">
                                      <i class="fa fa-fw fa-search"></i></button>
                                    </span>
                                  </div>
                            </label>
                        </div>

                    </th>                  
                    <th>Empresa
                        <div id="example1_filter" class="dataTables_filter">
                            <label>
                              <input type="search" class="form-control input-sm" placeholder="pesquisar..." aria-controls="example1">
                            </label>
                          </div>
                    </th>         
                    <th>Opções</th>
                  </tr>
                  <tr *ngFor='let c of centros'>
                    <td>{{ c.ID }}</td>
                    <td>{{ c.DESCRICAO }}</td>
                    <td>{{ c.ID_EMPRESA }}</td>
                    <td>
                      <!--<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning"><i class="fa fa-edit"> </i></button>                      -->
                      <a (click)="updateCC(c.ID)"><i class="fa fa-pencil-square-o"></i> </a> |
                      <a (click)="deleteCC(c.ID)"><i class="fa fa-trash-o"></i> </a>
                      <!--<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"><i class="fa fa-trash"> </i></button>-->                      
                    </td>  
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <!-- FIM GRID CERTA -->

        <div class="whatsapp-fixo">
          <a href="/novo-centro-custos">
          <img src="https://4.bp.blogspot.com/-6TNkrVxEy1U/V8m42vTx73I/AAAAAAAAASU/wlPcEYHGH-cJYmXhL2Ea_A90cvnzomMjgCLcB/s200/unnamed.png" 
            width="70px" height="70px" alt=""/> 
          </a>
          </div>

        <!--EDITAR-->
        <div class="modal modal-warning fade" id="modal-warning">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">alterando...</h4>
              </div>
              <div class="modal-body">
                <input class="form-control" type="text" placeholder="descrição...">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal"> 
                <span class="glyphicon glyphicon-remove"></span> Sair</button>
                <button type="button" class="btn btn-outline" data-dismiss="modal">
                <span class="glyphicon glyphicon-ok"></span>  Salvar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.modal -->

        <!--EXCLUIR-->
        <div class="modal modal-danger fade" id="modal-danger">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Atenção</h4>
              </div>
              <div class="modal-body">
                <p>Deseja excluir este registro ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                <button type="button" class="btn btn-outline" data-dismiss="modal" (click)="deleteCC(c.ID)">
                <span class="glyphicon glyphicon-ok"></span> Sim</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    <div>
    </div>
    </section>
    <!-- /.content -->
  </div>

    <app-admin-footer></app-admin-footer>    
  <app-admin-control-sidebar></app-admin-control-sidebar>    

