<div class="content-wrapper">
  <section class="content">    
    <div class="row">
      <div class="col-lg-3 col-xs-6">        
        <div class="small-box bg-aqua">
          <div class="inner">          
            <h3>150</h3>
            <p>Clientes</p>
          </div>
          <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
          <div class="inner">
            <h3>53<sup style="font-size: 20px">%</sup></h3>
            <p>Lucros</p>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
          <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>44</h3>
            <p>Cancelamentos</p>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
          <div class="inner">
            <h3>65</h3>
            <p>Novas Vendas</p>
          </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
          <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
        </div>
      </div>
    </div>
    <div class="row">
      <section class="col-lg-7 connectedSortable">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs pull-right">
            <li class="active"><a href="#revenue-chart" data-toggle="tab">Barra</a></li>
            <li><a href="#sales-chart" data-toggle="tab">Pizza</a></li>
            <li class="pull-left header"><i class="fa fa-inbox"></i> Vendas</li>
          </ul>
          <div class="tab-content no-padding">
            <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
            <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
          </div>
        </div>     
      </section>
      <section class="col-lg-5 connectedSortable">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Produtos Mais Vendidos</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <ul class="products-list product-list-in-box">
                <li class="item">
                  <!--<div class="product-img">
                    <img src="img/default-50x50.gif" alt="Product Image">
                  </div>-->
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">X-Bagunça Especial
                      <span class="label label-warning pull-right">R$32,90</span></a>
                    <span class="product-description">
                          Lanches.
                        </span>
                  </div>
                </li>
                <li class="item">
                  <!--<div class="product-img">
                    <img src="img/default-50x50.gif" alt="Product Image">
                  </div>-->
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">Coca-Cola
                      <span class="label label-info pull-right">R$7,00</span></a>
                    <span class="product-description">
                          Refrigerantes.
                        </span>
                  </div>
                </li>
                <li class="item">
                  <!--<div class="product-img">
                    <img src="img/default-50x50.gif" alt="Product Image">
                  </div>-->
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">Coxinha 
                      <span class="label label-danger pull-right">R$3,50</span></a>
                    <span class="product-description">
                          Salgados.
                        </span>
                  </div>
                </li>
                <li class="item">
                  <!--<div class="product-img">
                    <img src="img/default-50x50.gif" alt="Product Image">
                  </div>-->
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">Sobá M
                      <span class="label label-success pull-right">$25,80</span></a>
                    <span class="product-description">
                          Pratos.
                        </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
      </section>
    </div>
  </section>
</div>
